<li>
	{{burger_name}}&nbsp;&nbsp;

	{{#unless devoured}}
		<input type="image" src="/assets/images/eat.png" class="change-devoured" data-id="{{id}}" data-newdevoured="true"></input>
	{{/unless}}

	<input type="image" src="/assets/images/delete.png" class="delete-burger" data-id="{{this.id}}"></input>
</li>
